@model MEF.PROYECTO.Entity.Personal.Cls_Ent_Personal
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-danger card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Consultores</a>
                    </li>

                </ul>
                <div class="tab-custom-content">
                    <p id="LblEnt" class="lead mb-0" style="font-weight:bold;color:#4a4a49"></p>
                </div>
                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                        <div class="col-md-12">
                            <div class="card card-default">
                                <div class="card-header" style="background: #d2d3d5;color:#4b4b4d">
                                    <h4 class="card-title">Buscar por:</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Apellidos y Nombres:</label>
                                                <input type="text" id="txtApellidoNom" name="txtApellidoNom" class="form-control" placeholder="APELLIDOS NOMBRES" />

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Num. Documento:</label>
                                                <input type="text" id="txtDni" name="txtDni" class="form-control" placeholder="NUMERO DOCUMENTO" />

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>&nbsp;</label>
                                            <div class="input-group">

                                                <button id="btnConsultar" type="button" class="btn btn-danger">Buscar</button>
                                                &nbsp;
                                                <button id="" type="button" class="btn btn-dark" title="Limpiar Búsqueda"> Limpiar </button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="TableConsultores" class="table table-bordered dt-responsive dataTable table-hover" style="width: 100%; white-space: nowrap;">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="modalComentarios" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;">
    <div class='seccionModal'>
    </div>
</div>
<script src="@Url.Content("~/Scripts/js/Remove.js")" type="text/javascript"></script>
<script src="~/Scripts/js/Administracion/Consultores.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Remove_RemoverClases("liConsultores");
        CrearGrillaSolicitudes();
        CargarGrillaSolicitudes();
    });
    jQuery('#btnConsultar').click(function (e) {
        CargarGrillaSolicitudes();
    });
</script>