@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-danger card-outline">
            <div class="card-body">
                <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tabContrato-tab" data-toggle="pill" href="#tpContrato" role="tab" aria-controls="tpContrato" aria-selected="true">Contrato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabPago-tab" data-toggle="pill" href="#tabPago" role="tab" aria-controls="tabPago" aria-selected="true">Pagos sin contrato</a>
                    </li>
                </ul>
                <div class="tab-custom-content">
                    <p id="LblEnt" class="lead mb-0" style="font-weight:bold;color:#4a4a49"></p>
                </div>
                <div class="tab-content" id="custom-content-above-tabContent">
                    <div class="tab-pane fade show active" id="tpContrato" role="tabpanel" aria-labelledby="tpContrato-tab">
                        <div class="col-md-12">
                            <div class="card card-default">
                                <div class="card-header" style="background: #d2d3d5;color:#4b4b4d">
                                    <h4 class="card-title">Buscar por:</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ENTIDAD:</label>
                                                <select name="DdlDependenciaContrato" id="DdlDependenciaContrato" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>DNI:</label>
                                                <input type="text" id="txt_dni_cont" name="txt_dni_cont" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>CARGO:</label>
                                                <input type="text" id="txt_cargo_cont" name="txt_cargo_cont" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="btnBuscarContrato" class="btn btn-danger" title="Buscar">Buscar</button>
                                            <button id="btnLimpiaContrato" type="button" class="btn btn-dark" title="Limpiar Búsqueda"> Limpiar </button>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <select id="lstAgregarFiltro" class="custom-select">
                                                            <option>...Seleccionar...</option>
                                                        </select>
                                                    </div>

                                                    <input id="txtAgregarFiltro" type="text" class="custom-control form-control" style="height: 38px;" />

                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-outline-primary">Buscar</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="table-responsive" id="divCargaContratos">
                                <table id="tblCargaContratos" class="table table-bordered dt-responsive dataTable table-hover" style="width: 100%; white-space: nowrap;">
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tabPago" role="tabpanel" aria-labelledby="tabPago-tab">
                        <div class="col-md-12">
                            <div class="card card-default">
                                <div class="card-header" style="background: #d2d3d5;color:#4b4b4d">
                                    <h4 class="card-title">Buscar por:</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ENTIDAD:</label>
                                                <select name="DdlDependencia" id="DdlDependencia" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>PERIODO:</label>
                                                <select name="DdlPeriodoPago" id="DdlPeriodoPago" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>NRO DOCUMENTO:</label>
                                                <input type="text" id="txt_documento" name="TXT_NUM_DOCUMENTO" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>RUC CAS:</label>
                                                <input type="text" id="txt_ruc" name="TXT_RUC_CAS" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button id="btnBuscarPago" class="btn btn-danger" title="Pagos sin contrato">Buscar</button>
                                            <button id="btnLimpiaPago" type="button" class="btn btn-dark" title="Limpiar Búsqueda"> Limpiar </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" id="divCargaPagos">
                                <table id="tblCargaPagos" class="table table-bordered dt-responsive dataTable table-hover" style="width: 100%; white-space: nowrap;">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="modal" id="modalMantenimientoContratoFAG" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<div class="modal" id="modalMantenimientoContratoPAC" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<div class="modal" id="modalAdendas" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<div class="modal" id="modalMantenimientoAdendas" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<div class="modal" id="modalPagos" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<div class="modal" id="modalCargaPago" role="dialog" data-backdrop="static" data-keyboard="false" style=" overflow: scroll;"></div>
<script src="@Url.Content("~/Scripts/js/Carga/Contrato.js?v=" + DateTime.Now.ToString("yyyymmddhhmmss"))" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js/Remove.js")" type="text/javascript"></script>
<script type="text/javascript">
    Contratos.Iniciar();

    $(document).ready(function () {
        $('#modalMantenimientoContratoFAG').on('hidden.bs.modal', function () {
            Contratos.Iniciar();
        });
    });
</script>