<div class="row">
    <div class="col-md-12">
        <div class="card" style="box-shadow:none;text-align:center">
            <div class="card-body">
                <img src="~/assets/img/logo.png" alt="Logo" style="max-width:100%">
                <br />
                <br />
                <h5 style="color: #4a4a49;font-weight:bold">DESARROLLADO POR EL MINISTERIO DE ECONOMÍA Y FINANZAS</h5>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/js/Remove.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        Remove_RemoverClases("liInicio");
    });
</script>

